# Configurações Gerais do SaaS
APP_ENV=production
APP_DEBUG=false
APP_INSTALLED=false
ADMIN_DIR=LPDHED2dC7Gjrg2b

# Conexão com o Banco de Dados MySQL
DB_DRIVER=mysqli
DB_HOSTNAME=
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PREFIX=agsc_

# Chaves de Segurança Criptográficas (Geradas no Setup)
JWT_SECRET_KEY=
API_SIGNATURE_SECRET=

# Conexão com o Servidor Redis (Opcional - Em hospedagens sem Redis como Hostinger, defina REDIS_ENABLED=false e deixe REDIS_HOST em branco)
REDIS_ENABLED=false
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
